body {
    margin: 0; padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #434455;
}


header {
    background-color:#E7E9FC;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 24px 0;
    width: 100%;
}

nav {
    height: 24px;
    display: flex;
    align-items: center;
}
.logo {
    text-decoration: none;
    color: #2E2F42;
    padding: 0 50px 0 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #4d5ae5;
}
.logo1 {
    color: #2e2f42;
}

.nav-ul {
    padding: 3px 0;
    margin: 0;
}
.nav-li {
    list-style-type: none;
    display: -webkit-inline-box;
    margin: 0px 9px;
}
.nav-li-a {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-li-a:hover {
    color: #404bbf;
}
.nav-li-a:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-ul {
    margin: 0;
    padding: 0;
}
.address-li {
    list-style-type: none;
    display: -webkit-inline-box;
    margin: 0;
}
.address-li-a {
    color: #434455;
    text-decoration: none;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 0 20px;
}
.address-li-a:hover {
    color: #404bbf;
}
.address-li-a:focus {
    color: #404bbf;
}

.section {
    width: 100%; height: 600px;
    background-color: #2E2F42;
    color: #fff;
}
.section-h1 {
    margin: 0;
    padding: 180px 0 68px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.section-button {
    background-color: #4D5AE5;
    width: 170px; height: 56px;
    margin: 0px auto 72px;
    display: block;
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    border: 0px solid #000;
    border-radius: 3px;
    box-shadow: 3px 5px 5px #222;
    cursor: pointer;
}
.section-button:hover {
    background-color: #404BBF;
}
.section-button:focus {
    background-color: #404BBF;
}

.advantages {
    width: 100%; height: 344px;
}
.advantages-h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 50px 0;
}
.advantages-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.advantages-li {
    list-style-type: none;
    display: block;
    padding: 12px;
    width: 264px;
}
.advantages-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    width: 100%; height: 732px;
    background-color: #F4F4FD;;
}
.our-team-h2 {
    text-align: center;
    font-size: 36px;
    margin: 0; 
    padding: 120px 0px 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
}
.our-team-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.our-team-li {
    height: 380px;
    margin: 11px;
    list-style-type: none;
    display: block;
    background-color: #fff;
    text-align: center;
}
.our-team-li-h3 {
    margin: 25px 0 7px;
}
.our-team-li-p {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
}

.our-portfolio-h2 {
    margin: 120px 0 72px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
}
.our-portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.our-portfolio-li {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 24px 12px;
    border-width: 0px, 1px, 1px, 1px;
    border-style: solid;
    border-color: #E7E9FC;
}
.our-portfolio h3 {
    margin: 32px 0 4px 16px;
}
.our-portfolio-p {
    margin: 4px 0 32px 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px;
}
footer a {
    text-decoration: none;
    color: #F4F4FD;
}
footer p {
    width: 264px;
}